---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% for category in site.publication_category %}
  {% assign title_shown = false %}
  {% for post in site.publications reversed %}
    {% if post.category != category[0] %}{% continue %}{% endif %}
    {% unless title_shown %}
      <h2>{{ category[1].title }}</h2><hr />
      {% assign title_shown = true %}
    {% endunless %}

    <div class="list__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h3 class="archive__item-title" itemprop="headline">
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
        </h3>
        <p><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
        <div itemprop="description">{{ post.content }}</div>
      </article>
    </div>
  {% endfor %}
{% endfor %}
